:root {
	--pad:2ch;
	--pad-s: 3ch;
	--text-pad: "---";
	--pad-a: calc(var(--pad)*2);
	--nav-size: 20%;
	--border: solid 2px;
	--bg: #010101; /* background */
	--bg-alt: #777777; /* inverted channel background */
	--fg: #c2ffff; /* foreground */ 
	--fg-alt: #FF8d8d; /* color 1 */
	--hide:none; /* unset to show, none to hide */
}

* {
	padding:0px;
	margin:0px;
	font-size:1.05em;
	font-family: monospace;
	color:var(--fg);
	border:none;
	outline:none;
	background:transparent;
}

a {
	color:var(--fg-alt);
	text-decoration:none;
	&:hover {
		color:var(--fg);
		border-bottom: var(--border) var(--fg-alt);
	}
}

body {
	background:var(--bg);
	width:calc(100% - (var(--pad)*2));
	padding: var(--pad-a) var(--pad);


	h1 {
		color:var(--fg-alt);
		font-size: 1.5em;
	}
		
	p {
		text-wrap: nowrap;
		opacity:0.7;
		.hide {
			display: var(--hide);
		}
	
		&:hover {
			opacity: 1;
		}	
	}

	button {
		border: var(--border) var(--fg-alt);
		margin:calc(var(--pad-s)/2);
		width:calc(100% - var(--pad-s));
		text-wrap:nowrap;

	}

	hr {
		opacity:0.5;
		border-bottom: var(--border) var(--fg-alt);
		margin-bottom:var(--pad-s);
		margin-top:calc(var(--pad-s)/2);
	}

	.content {
		display:flex;
		width:100%;
		overflow:hidden;
		.page-content {
			margin-left: var(--pad);
			/*border: var(--border) var(--bg-alt);*/
			padding:var(--pad-a) var(--pad);
			box-sizing:border-box;
			* {
				
				text-wrap:wrap;
			}

			.item {
				border: var(--border) var(--fg-alt);
				padding:var(--pad-a) var(--pad);
				box-sizing: border-box;
				margin-top:var(--pad-a);
			}
		}

		nav {
			width:fit-content;
			position:sticky;
			top:var(--pad);
			height:calc(100vh - var(--pad)*2);

			ul {
				width:fit-content;

				li {
					width:fit-content;
					cursor: pointer;
					list-style-type: none;
					text-wrap:nowrap;
					&:first-child {
						font-weight: bold;
						color:var(--fg-alt);
						text-transform:uppercase;
						&::after {
							content: "/";
						}
					}
					&:not(li:first-child) {
						text-transform: capitalize;
						&::before {
							content: var(--text-pad);
							color: transparent;
							user-select: none;
						}
	
						&::after {
							content: ";"; 
							opacity: 0.5;
						}

						&:hover {
							border-left: var(--border) var(--fg-alt);
						}
					}
				}
			}
		}
	}
}
