body {
	height:fit-content;
	max-width: 650px;
	font-size: 0.9em;
	margin: 50 40;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-size:3em;
}

h1, ul, h2, h3, p, section, code, summary {
	margin:0px;
}

hr {
	border:none;
	border-bottom:1px solid white;
	opacity:0.5;
}

ul li {
	list-style-type:none;
}

ul li a {
	cursor:pointer;
}

code {
	white-space:pre-line;
}
