/* Terminus TTF Font Family */
@font-face {
	font-family: 'Terminus TTF';
	src: url('font/TerminusTTF-4.49.3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Terminus TTF';
	src: url('font/TerminusTTF-Bold-4.49.3.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Terminus TTF';
	src: url('font/TerminusTTF-Italic-4.49.3.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Terminus TTF';
	src: url('font/TerminusTTF-Bold-Italic-4.49.3.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

:root {
	--fg: #fcfca9;
	--bg: #131414;
}

/* Basic body */
body {
	height:fit-content;
	font-size: 0.9em;
	margin: 50px 40px;
	box-sizing:border-box;
	font-family: "Terminus TTF", monospace;
	color: var(--fg) !important;
}

hr {
	margin-left:0px;
	border-bottom:1px solid var(--fg);
	opacity:0.5;
}

.pre {
	white-space: pre-line;
	display:block;
}

tr > :first-child {
	text-align:right;
	border-right: 1px solid var(--fg);
	padding-right:1ch;
}

/* Single liners */
table tr:nth-child(odd) {background: rgba(255,255,255,0.05)}
h1, ul, h2, h3, p, section, code, summary {margin:0px}
button {font-family: "Terminus TTF", monospace}
html, body {background: var(--bg) !important;}
ul li {list-style-type:none}
section {max-width:700px}
ul li a {cursor:pointer}
h1 {font-size:3em}
.date {opacity: 0}
img {width: 100%}
a { color: aqua }


/* Mobile styles (basic) */
@media (orientation: portrait){
	section {max-width: 100%}
	table tr:nth-child(odd){background: black}
	body {
		font-size: 0.7em;
		margin: 25px 20px;
	}

	table tr {
		all:unset;
		border-bottom: solid 1px var(--fg);
		margin-bottom: 2ch;
		display:flex;
	}

	tr > :first-child {
		margin-right:1ch;
		border-right: none;
	}

	ul {padding:20px}
}
