/* Terminus TTF Font Family */
@font-face {
	src: url('font/TerminusTTF-4.49.3.ttf') format('truetype');
	font-family: 'Terminus TTF';
	font-weight: normal;
	font-display: block;
	font-style: normal;
}

@font-face {
	src: url('font/TerminusTTF-Bold-4.49.3.ttf') format('truetype');
	font-family: 'Terminus TTF';
	font-display: block;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	src: url('font/TerminusTTF-Italic-4.49.3.ttf') format('truetype');
	font-family: 'Terminus TTF';
	font-display: block;
	font-weight: normal;
	font-style: italic;
}

@font-face {
	src: url('font/TerminusTTF-Bold-Italic-4.49.3.ttf') format('truetype');
	font-family: 'Terminus TTF';
	font-display: block;
	font-style: italic;
	font-weight: bold;
}

:root {
	--alt: #92b3ab;
	--fg: #dbc8cb;
	--bg: #252036;
}

/* Basic body */
body {
	font-family: "Terminus TTF", monospace;
	color: var(--fg) !important;
	box-sizing:border-box;
	height:fit-content;
	margin: 50px 40px;
	font-size: 0.9em;
}

hr {
	margin-left: 0px;
	border-bottom: 1px solid var(--alt);
	margin-bottom: 3ch;
}

tr > :first-child {
	border-right: 2px solid var(--fg);
	padding-right: 1ch;
	text-align: right;
}

mark {
	background: var(--fg) !important;
	* {color: var(--bg) !important;}
	color: var(--bg) !important;
}


button {
	font-family: "Terminus TTF", monospace;
	background: var(--alt) !important;
	color: var(--bg) !important;
	background: transparent;
	border-radius: none;
	padding: 5px 10px;
	outline: none;
	border: none;
}

/* Single liners */
h1, ul, ol, h2, h3, p, section, code, summary {margin: 0px}
html, body {background: var(--bg) !important}
ol li {list-style-type: decimal-leading-zero}
tr > :last-child {padding-left: 1ch}
#projects li {list-style-type: none}
ul li {list-style-type: square}
h2, h3, h4 {margin-top: 3ch}
section {max-width: 700px}
a, i {color: var(--alt)}
.mobile {display: none}
a { cursor: pointer}
a {width:fit-content}
h1 {font-size: 3em}
.date {opacity: 0}
img {width: 100%}


/* Mobile styles (basic) */
@media (orientation: portrait){
	tr > :first-child {border: none}
	table, tr, td {all: unset}
	section {max-width: 100%}
	tr a:after {content: ","}
	.notmobile {display:none}
	.mobile {display: block}
	ul {padding-left: 20px}

	body {
		margin: 25px 20px;
		font-size: 0.7em;
	}


   tbody {
		flex-wrap: wrap;
		display:flex;
	}
}
